<div [ngClass]="{ 'post-item': true, 'highlight': highlighted }">
    <h3
      (mouseenter)="highlighted = true"
      (mouseleave)="highlighted = false"
    >
      <a
        href="#"
        (click)="PostItemClicked($event)"
      >
        {{title}}
      </a>
    </h3>
    <p
      (mouseenter)="highlighted = true"
      (mouseleave)="highlighted = false"
    >
      {{uploader.name}} töltötte fel {{getUploadedSinceText(uploadedSince)}}
    </p>
    <app-icon-btn 
      *ngIf="authorLoggedIn"
      [appTooltip]="'poszt törlése'"
      [ngClass]="{ 'post-delete-btn': true, 'hide': highlighted, 'loading': isDeleting }"
      [iconClass]="'btn btn-delete-post'"
      (onClick)="onDeleteClick.emit(id); isDeleting = true"
      [ariaLabel]="'Delete Post'"
      [disabled]="isDeleting"
    >
      <ng-icon icon name="tablerEraser" *ngIf="!isDeleting"></ng-icon>
    </app-icon-btn>
  
  </div>