.comment-form-row {
    display: flex;
    gap: .5rem;
}

.message-input {
    flex-grow: 1;
    resize: none;
    height: 4.375rem;
    border-radius: .5em;
    padding: .5em;
    font-size: inherit;
    font-family: inherit;
    border: 2px solid var(--app-glow-color);
    line-height: 1.4;

    &:focus {
        border-color: var(--app-glow-color-hover);
        outline: none;
    }

    &:disabled {
        color: initial;
    }
}