<pagination-template
    #p="paginationApi"
    [maxSize]="maxPaginatorSize"
    (pageChange)="currentPage = $event">
    <nav role="navigation">
        <ul class="ngx-pagination">
            <li class="pagination-previous" [class.disabled]="p.isFirstPage()"> 
                @if(1 < p.getCurrent()) {
                    <a tabindex="0" (keyup.enter)="p.previous()" (click)="p.previous()">
                        <span><ng-icon name="matChevronLeft"></ng-icon></span>
                    </a>
                }
                @if(p.isFirstPage()) {
                    <span aria-disabled="true">
                        <ng-icon name="matChevronLeft"></ng-icon>
                    </span>
                }
            </li> 
            @for(page of p.pages; track page.value) {
                <li class="pagination-page"
                    [class.current]="p.getCurrent() === page.value" 
                    [class.ellipsis]="page.label === '...'">
                    @if(!(p.getCurrent() === page.value || page.label === '...')){
                        <a tabindex="0" (keyup.enter)="p.setCurrent(page.value)" (click)="p.setCurrent(page.value)">
                            <span>{{ page.label | number:'' }}</span>
                        </a>
                    }
                    @else {
                        <span aria-live="polite">
                            <span>{{ (page.label === '...') ? page.label : (page.label | number:'') }}</span> 
                        </span>
                    }
                </li>
            }
            <li class="pagination-next" [class.disabled]="p.isLastPage()">
                @if(!p.isLastPage()) {
                    <a tabindex="0" (keyup.enter)="p.next()" (click)="p.next()">
                        <span><ng-icon name="matChevronRight"></ng-icon></span>
                    </a>
                }
                @else {
                    <span aria-disabled="true">
                        <ng-icon name="matChevronRight"></ng-icon>
                    </span>
                }
            </li>
        </ul>
    </nav>
</pagination-template>