.background-image {
    --background-offset: bottom center;
    --transitions: filter 2s ease, scale 2s ease, border-radius 1s ease;
    overflow: hidden;
    position: relative;
    width: 80vw;
    height: var(--app-banner-height);
    background: var(--app-banner-img-url) var(--background-offset) / 105vw 105vh no-repeat;
    margin: 0 10vw;
    scale: 1;
    z-index: 10;
    filter: none;
    border: 2px solid black;
    border-top: 0;
    border-radius: 0 0 1rem 1rem;
    transition: var(--transitions);
    pointer-events: none;

    &.blur {
        scale: 1.2;
        filter: brightness(30%) blur(10px);
    }

    &.full {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        background: none;
        background-color: black;
        border-radius: 0;
        transform: none;
        background-position: bottom;
        z-index: 0;

        #Logo {
            display: none;
        }
    }

    img {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;

        @media (max-width: 767px) {
            left: 50% !important;
            width: 1000px !important;
            height: inherit;
            transform: translateX(-50%);
        }
    }
    
    @media (max-width: 1023px) {
            background-size: cover;
    }

    @media (max-width: 639px) {
           --app-banner-img-url: var(--app-banner-img-mobile-url);
            --app-banner-height: 20vh;
    }
}

#Logo {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-family: URW Gothic L;
    font-weight: 700;
    font-size: 32pt;
    opacity: 1;
    user-select: none;
    text-align: center;
}