@mixin rounded-corners($top) {
    @if($top) {
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }
    @else {
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
}

.post-list {
    position: relative;
    @include rounded-corners(true);

    %header-footer  {
        position: relative;
        height: var(--app-post-list-header-height);
        background-image: var(--app-backdrop-url);
        background-color: var(--app-post-list-header-color);
        background-blend-mode: multiply;
        border: 1px solid var(--app-post-list-border-color);
        z-index: 5;
        overflow: hidden;

        h2, h3 {
            padding: 0.5rem 1rem;
            align-self: center;
        }
    }

    &-header {
        @extend %header-footer;
        @include rounded-corners(true);
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.33);

        h2 {
            font-size: 24pt;
            font-weight: 400;
            color: #fefefe;
            filter: drop-shadow(2px 2px color-mix(in hsl, var(--app-post-list-header-color), black 50%));
            user-select: none;
        }

        @media (max-width: 639px) {
            font-size: smaller;
        }
    }

    &-footer {
        @extend %header-footer;
        @include rounded-corners(false);
        display: flex;
        align-items: center;
        border-top: none !important;
        box-shadow: 0px -5px 5px hsla(0, 0%, 0%, 0.33);

        h3 {
            max-width: 30%;
        }
    }

    &-body {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 488px;
        background: var(--app-worldmap-img-url) center / cover no-repeat;
        background-color: hsl(52, 60%, 95%);
        background-blend-mode: multiply;
        opacity: 1;
        border-left: 1px solid var(--app-post-list-border-color);
        border-right: 1px solid var(--app-post-list-border-color);
        transition: opacity 0.5s ease;

        &.clipped {
            overflow: clip;
        }

        &.loading {
            opacity: 0.2;
            pointer-events: none;
        }

        .empty-list-notice {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            font-family: Manrope;
            font-size: 28pt;
            font-weight: 600;
            color: var(--app-post-list-text-color);
            user-select: none;
        }
    }
}

.body-wrapper:not(:has(.highlight)) {
    overflow-y: clip;
}