<div class="post-list" [@list-fade-in-out]="animationState"
  (@list-fade-in-out.done)="animationState === animStates.finished ? startEnterAnimation() : null"
>
  <div class="post-list-header" [ngClass]="{'collapsing': animationState === animStates.animating}">
    <h2>Posztok</h2>
    <app-new-post-button />
  </div>
  <div class="body-wrapper">
    <div class="body-container" [@collapsable]="animationState"
      (@collapsable.done)="animationState === animStates.animating ? animationState = animStates.finished : null"
    >
      <div class="post-list-body" 
        [ngClass]="{ 'loading': reloading, 'clipped': isListClipped }"
      >
        @for(post of posts | paginate: { itemsPerPage: paginator.itemsPerPage, currentPage: paginator.currentPage }; let i = $index; track post) {
          <app-post-item 
              [@items-enter-leave]="{value: '', params: { 'delay-in': 50 + i * 200, 'delay-out': i * 200, i: i }}"
              [id]="post.id"
              [title]="post.title"
              [uploader]="post.uploader"
              [uploadedSince]="post.createdAt"
              [isDeleting]="isPostDeleting(post.id)"
              (onClick)="onPostItemClicked($event)"
              (onDeleteClick)="deletePost($event)"
              (onHighlightChanged)="onHightlightChanged($event)"
            />
        }
        @if(posts.length === 0) {
          <div class="empty-list-notice" @label-fade-in>
            Légy az első aki erre az útra tér
          </div>
        }
      </div>
      <div class="post-list-footer" [ngClass]="{'collapsing': animationState === animStates.animating}">
        <h3>
          <app-paginator #paginator></app-paginator>
        </h3>
      </div>
    </div>
  </div>
</div>