.category-list-wrapper {
    &.animating {
        border-right: 1px solid var(--app-category-list-border-color);
    }

    &.finished {
        visibility: hidden;
    }
}

.category-list {
    &.enter {
        animation: enter 0.5s ease;
    }

    &.animating {
        animation: slide 1s var(--app-easing-function) forwards;

        @keyframes slide {
            to { translate: 100% }
        }
    }
}

@keyframes enter {
    from {
        opacity: 0; 
        top: 20px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}