<div class="post-item" 
  [ngClass]="{ 'highlighted': isHighlighted }"
  (transitionstart)="$event.propertyName === 'scale' && onHighlightChanged.emit(true)" 
  (transitionend)="$event.propertyName === 'scale' && onHighlightChanged.emit(false)"
>
  <h3
    (mouseenter)="isHighlighted = true"
    (mouseleave)="isHighlighted = false"
  >
    <a href="#" (click)="postItemClicked($event)">
      {{title}}
    </a>
  </h3>
  <p
    (mouseenter)="isHighlighted = true"
    (mouseleave)="isHighlighted = false"
  >
    {{uploader.name}} töltötte fel {{getUploadedSinceText(uploadedSince)}}
  </p>
  @if(authorLoggedIn) {
    <app-icon-btn
      class="post-delete-btn"
      [appTooltip]="'poszt törlése'"
      [ngClass]="{ 'hide': isHighlighted }"
      [variant]="['black', 'large']"
      [ariaLabel]="'Delete Post'"
      [loading]="isDeleting"
      (appConfirmPopup)="deleteButtonClicked()"
    >
      <ng-icon icon name="tablerEraser"></ng-icon>
    </app-icon-btn>
  }
</div>