%shine {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.75) 92%,
            rgba(255, 255, 255, 0.0) 100%);
    transform: skewX(-25deg);
    z-index: 2;
}

%shine-hover {
    opacity: 1;
    left: 125%;
    transition-property: left, opacity;
    transition-duration: 0.7s, 0.15s;
    transition-timing-function: ease;
}

.btn {
    position: relative;
    padding: 0.5em 1em;
    background: var(--app-btn-color);
    color: rgb(0, 0, 0);
    border: 3px outset var(--app-btn-color);
    border-radius: 0.5em;
    font-size: 0.75em;
    font-family: Helvetica;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;

    &:hover,
    &:focus-visible {
        --app-btn-color: var(--app-btn-color-hover);
    }

    &:not(.icon-btn):after {
        @extend %shine
    }
    
    &:not(.icon-btn):hover:after,
    &:not(.icon-btn):focus-visible:after {
        @extend %shine-hover
    }
    
    &[disabled] {
        --app-btn-color: var(--app-btn-color-disable);
        cursor: default;
        &:after {
            content: none;
        }
    }

    @media (max-width: 639px) {
        font-size: 0.8em;
    }

    &-special {
        --app-btn-color: color-mix(in srgb, var(--app-danger-color) 70%, hsl(0, 0%, 0%) 30%);
        color: white;

        &:hover,
        &:focus-visible {
            --app-btn-color: color-mix(in srgb, var(--app-danger-color-hover) 70%, hsl(0, 0%, 0%) 30%);
        }
    }
}

.icon-btn {
    background: none;
    border: none;
    color: var(--app-btn-color);
    padding: 0.25em;
    display: flex;
    align-items: center;

    &:hover,
    &:focus-visible {
        --app-btn-color: var(--app-glow-color-hover);
    }

    &-active {
        position: relative;
        --app-btn-color: var(--app-danger-color);

        &:hover,
        &:focus-visible {
            --app-btn-color: var(--app-danger-color-hover);
        }

        &:before {
            content: "\00D7";
            position: absolute;
            font-size: 0.75em;
            width: 1em;
            height: 1em;
            color: white;
            background-color: var(--app-btn-color);
            border-radius: 50%;
            bottom: 0.1em;
            right: 0.1em;
        }
    }
}