/* You can add global styles to this file, and also import other style files */
@use "buttonBase";

@font-face {
    font-family: URW Gothic L;
    src: local("URW Gothic L"), url("../assets/urw_gothic_l_book.ttf");
}

@font-face {
  font-family: Manrope;
  src: local("Manrope"), url("../assets/Manrope-Regular.ttf");
}
  
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  min-height: 100vh;
  scroll-behavior: smooth;
  --app-glow-color: hsl(30, 100%, 50%);
  --app-glow-color-hover: hsl(30, 100%, 67%);
  --app-btn-color: hsl(48, 100%, 50%);
  --app-btn-color-hover: hsl(48, 100%, 67%);
  --app-btn-color-disable: hsl(48, 20%, 67%);
  --app-danger-color: hsl(0, 100%, 50%);
  --app-danger-color-hover: hsl(0, 100%, 67%);
  --app-black-color: hsl(0, 0%, 0%);
  --app-black-color-hover: hsl(0, 0%, 35%);
  --app-post-list-header-color: hsl(79, 29%, 50%);
  --app-post-list-header-height: 4rem;
  --app-post-list-border-color: hsl(77, 29%, 35%);
  --app-post-list-text-color: hsl(68, 92%, 23%);
  --app-backdrop-url: url("../assets/background.jpg");
  --app-post-highlight-img-url: url("../assets/Landscape.jpg");
  --app-worldmap-img-url: url("../assets/WorldMap.png");
  --app-globe-img-url: url("../assets/globe.jpg");
  --app-banner-img-url: url("../assets/ForestEntry1.jpg");
  --app-login-drawer-height: 30vh;
}

body {
  background-color: black;

  &:has(.login-dialog), 
  &:has(.new-post-dialog) {
    overflow: hidden;
  }
}

.hide {
  display: none !important;
}

.error-msg {
  position: relative;
  color: var(--app-danger-color-hover);
  text-align: center;
}

.ngx-modal {
  &:has(.login-dialog) {
    transform: none;
  }

  &:has(.delete-dialog) {
    position: absolute !important;
  }
}

@mixin dialog-dropdown-anim($name, $from: 0%, $to: 50%, $fade: true) {
  @keyframes #{$name}-dialog-enter {
    0% {
      @if $fade { 
        opacity: 0;
      }
      @else { 
        opacity: 1; 
      }
      top: $from;
    }

    100% {
      opacity: 1;
      top: $to;
    }
  }

  @keyframes #{$name}-dialog-exit {
    0% {
      opacity: 1;
      top: $to;
    }

    100% {
      @if $fade { 
        opacity: 0; 
      }
      @else { 
        opacity: 1; 
      }
      top: $from;
    }
  }
}

@keyframes delete-dialog-enter {
  0% {
    scale: 0 0.01;
    transform-origin: center top;
    background-color: var(--app-glow-color-hover);
  }
  50% {
    scale: 1 0.01;
    transform-origin: center top;
    background-color: var(--app-glow-color-hover);
  }
  100% {
    scale: 1 1;
    transform-origin: center top;
  }
}

@include dialog-dropdown-anim("new-post");
@include dialog-dropdown-anim("login", calc(-1 * var(--app-login-drawer-height)), 0%, false);