%font-large {
    font-size: large;
}

@mixin colored-btn($primary, $hover) {
    --app-btn-color: #{$primary};

    &:hover,
    &:focus-visible {
        --app-btn-color: #{$hover};
    }
}

.post-back-btn {
    @extend %font-large;

    @media (max-width: 639px) {
        font-size: medium;
    }
}

.btn-like {
    @include colored-btn(var(--app-danger-color), var(--app-danger-color-hover));
}

.btn-delete {
    @include colored-btn(var(--app-black-color), var(--app-black-color-hover));

    &-post {
        @extend .btn-delete, %font-large;

        &:disabled {
            --app-btn-color: var(--app-black-color-hover);
        }
    }
}

.spinner {
    width: 18px;
    padding: 3px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: black;
    --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: spinner 1s infinite linear;
  
    @keyframes spinner { to{ transform: rotate(1turn) } }
  }   