@switch (loadingState) {
  @case ('loading') {
    <app-loader [text]="'Poszt betöltése...'" [inverted]="true"/>
  }
  @case ('error') {
    <div class="post-container" [ngClass]="animationState">
      <app-icon-btn data-test-back-btn [variant]="['responsive-large']" (onClick)="backButtonClicked()">
        <ng-icon icon name="matArrowBack"></ng-icon>Vissza
      </app-icon-btn>
      <div class="post-body">
        <h1 class="error-msg" style="text-align: center;">{{ error }}</h1>
        <p class="error-msg">Valószínűleg a poszt amit keresel nem létezik az adatbázisban</p>
      </div>
    </div>
  }
  @case ('success') {
    <div class="post-container" [ngClass]="animationState" animate.leave="absolute">
      <div class="commands">
        <app-icon-btn data-test-back-btn [variant]="['responsive-large']" [disabled]="isEditLoading" (onClick)="backButtonClicked()">
          <ng-icon icon name="matArrowBack"></ng-icon>Vissza
        </app-icon-btn>
        @if(hasEditError) {
          <span class="save-error-msg">Valamilyen hiba lépett fel a szerver oldalon, mentés sikertelen</span>
        }
        @if(authorLoggedIn) {
          <div>
            <app-icon-btn data-test-edit-btn [disabled]="isEditLoading" (onClick)="onPostEdit()">
              <ng-icon icon [name]="isEditMode ? 'matSaveAll' : 'matEditNote'"></ng-icon>
              {{!isEditMode ? 'Szerkesztés': !isEditLoading ? 'Változások Mentése' : 'Új poszt betöltése...'}}
            </app-icon-btn>
            @if (isEditMode) {
              <app-icon-btn data-test-cancel-btn [variant]="['orange']" [disabled]="isEditLoading" (onClick)="onPostEditCancel()">
                <ng-icon icon name="matCancel"></ng-icon>Mégse
              </app-icon-btn>
            }
          </div>
        }
      </div>
      <div class="post-body">
        @if (isEditMode) {
          <input appAutofocus type="text" class="title-edit" [(ngModel)]="editedPost.title">
          <textarea class="body-edit" [(ngModel)]="editedPost.body" rows="20" autocorrect="off"></textarea>
        }
        @else {
          <h1>{{post?.title}}</h1>
          <article [innerHTML]="(post?.body || '') | linky:{ sanitizeHtml: true }"></article>
        }
        @if (post?.images?.length) {
          <div class="image-section">
            @for (img of post!.images; track $index) {
              <a [href]="img.url" target="_blank" rel="noopener noreferrer">
                <img [src]="img.thumbnail" [alt]="'attachment image: ' + img.name">
              </a>
            }
          </div>
        }
      </div>
      <section>
        <app-comment-form
          [autoFocus]="false"
          (onSubmit)="onCommentCreate($event)"
        />
        @if(rootComments != null && rootComments.length > 0) {
          <div style="margin-top: 1rem">
            <app-comment-list [comments]="rootComments" />
          </div>
        }
      </section>
    </div>
  }
}


