@switch (loadingState) {
  @case ('loading') {
    <app-loader [text]="'Poszt betöltése...'" [inverted]="true"/>
  }
  @case ('error') {
    <div class="post-container" [@post-fade-in-out]="animationState">
      <app-icon-btn [iconClass]="'post-back-btn'" (onClick)="backButtonClicked()">
        <ng-icon icon name="matArrowBack"></ng-icon>
        Vissza
      </app-icon-btn>
      <div class="post-body">
        <h1 class="error-msg" style="text-align: center;">{{ error }}</h1>
        <p class="error-msg">Valószínűleg a poszt amit keresel nem létezik az adatbázisban</p>
      </div>
    </div>
  }
  @case ('success') {
    <div class="post-container" [@post-fade-in-out]="animationState">
      <app-icon-btn [iconClass]="'post-back-btn'" (onClick)="backButtonClicked()">
        <ng-icon icon name="matArrowBack"></ng-icon>
          Vissza
      </app-icon-btn>
      <div class="post-body">
        <h1>{{post?.title}}</h1>
        <article [innerHTML]="(post?.body || '') | linky:{ sanitizeHtml: true }"></article>
      </div>
      <section>
        <app-comment-form
          [autoFocus]="true"
          (onSubmit)="onCommentCreate($event)"
        />
        @if(rootComments != null && rootComments.length > 0) {
          <div style="margin-top: 1rem" @comment-fade-in-out>
            <app-comment-list [comments]="rootComments" />
          </div>
        }
      </section>
    </div>
  }
}


