<div *ngIf="loadingState === 'loading'"><app-loader [text]="'Poszt betöltése...'" [inverted]="true"/></div>
<h1 *ngIf="loadingState === 'error'" class="error-msg">{{ error }}</h1>

<div *ngIf="loadingState === 'success'"
      [style]="delayStyle"
      [ngClass]="{ 'post-container': true, 'fadeout': animationState === 'exiting' }"
    >
      <app-icon-btn [iconClass]="'post-back-btn'" (onClick)="backButtonClicked()">
        <ng-icon icon name="matArrowBack"></ng-icon>
          Vissza
      </app-icon-btn>
      <div class="post-body">
        <h1>{{post?.title}}</h1>
        <article [innerHTML]="(post?.body || '') | linky:{ sanitizeHtml: true }"></article>
      </div>
      <section>
        <app-comment-form
          [loading]="commentsLoading"
          [error]="commentsError ?? undefined"
          (onSubmit)="onCommentCreate($event)"
        />
          <div *ngIf="rootComments != null && rootComments.length > 0" style="margin-top: 1rem">
            <app-comment-list [comments]="rootComments" />
          </div>
      </section>
    </div>