.post-container {
    position: relative;
    width: 85vw;
    max-width: 75rem;
    font-family: Manrope;
    word-break: keep-all;

    @media (max-width: 639px) {
        font-size: 10pt;        
    }
}

.post-body {
    margin-bottom: 2rem;
    padding: 0.75rem 1.5rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: justify;
    border-radius: 0.5rem;
    border: 2px solid var(--app-btn-color);

    & h1 {
        text-align: start;
        margin-bottom: 1rem;
        border-bottom: 1px solid black;
    }

    & article {
        white-space-collapse: preserve-breaks;
    }

    .image-section {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;

        @media (max-width: 1023px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        
        @media (max-width: 639px) {
            justify-items: center;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        img {
            width: 220px;
            height: 220px;

            @media (max-width: 1279px) {
                width: 100%;
                max-width: 220px;
                height: auto;
            }

            @media (max-width: 639px) {
                width: 100%;
                max-width: unset;
                height: auto;
            }
        }
    }
}