@for(comment of comments; track comment.id; let i = $index) {
    <div class="comment-stack" @fade-in-out>
        <app-comment [comment]="comment" />
        @if(getChildComments(comment.id).length > 0) {
            <div class="nested-comments-stack" [ngClass]="{ 'hide': areChildrenHidden[i] }" @fade-in-out>
                <button
                    class="collapse-line"
                    aria-label="Hide Replies"
                    (click)="areChildrenHidden[i] = true"
                ></button>
                <div class="nested-comments">
                    <app-comment-list [comments]="getChildComments(comment.id)" />
                </div>
            </div>
            <button
                class="btn"
                [ngClass]="{ 'hide': !areChildrenHidden[i] }"
                [ngStyle]="{ 'margin-top': '1rem' }"
                (click)="areChildrenHidden[i] = false"
            >
            Mutatsd a megjegyzést
            </button>
        }
    </div>
}